In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('customer.db') #if this database does not exist, then it will get created.

In [3]:
# Create a cursor
c = conn.cursor()

In [4]:
# Create a Table
c.execute("""CREATE TABLE customers (
		first_name text,
		last_name text,
		email text
	)""")

# Datatypes:
# NULL
# INTEGER
# REAL
# TEXT
# BLOB

In [5]:
# Commit these changes to our database.
conn.commit()

# Close our connection
conn.close()

# Insert one value into the table

In [6]:
# Connect to database
conn = sqlite3.connect('customer.db')

# Create a cursor
c = conn.cursor()
c.execute("INSERT INTO customers VALUES ('Mary', 'Brown', 'mary@codemy.com')") # Watch out for single and double quote.
# Commit our command
conn.commit()

# Close our connection
conn.close()

# Insert Many values into the table

In [7]:
# Connect to database
conn = sqlite3.connect('customer.db')

# Create a cursor
c = conn.cursor()

many_customers = [
					('Wes', 'Brown', 'wes@brown.com'), 
					('Steph', 'Kuewa', 'steph@kuewa.com'), 
					('Dan', "Pas", 'dan@pas.com'),
				]

c.executemany("INSERT INTO customers VALUES (?,?,?)", many_customers)

# Commit our command
conn.commit()

# Close our connection
conn.close()

# Fetch/Select

In [12]:
# Connect to database
conn = sqlite3.connect('customer.db')

# Create a cursor
c = conn.cursor()
c.execute("SELECT * FROM customers")

print(c.fetchone()) # will fetch the one. the pointer will move down
print(c.fetchmany(1)) # will fetch the next two
print(c.fetchall())# will fetch the remaining. that is, except the first three this will return the rest of 'em.'

# Commit our command
conn.commit()

# Close our connection
conn.close()

('Mary', 'Brown', 'mary@codemy.com')
[('Wes', 'Brown', 'wes@brown.com')]
[('Steph', 'Kuewa', 'steph@kuewa.com'), ('Dan', 'Pas', 'dan@pas.com')]

In [18]:
# Connect to database
conn = sqlite3.connect('customer.db')

# Create a cursor
c = conn.cursor()
c.execute("SELECT * FROM customers")

print(c.fetchone()[0]) #this will specifically give u only the name
print(c.fetchall()[0:2]) # first two customers of the remaining three
# Commit our command
conn.commit()

# Close our connection
conn.close()

Mary
[('Wes', 'Brown', 'wes@brown.com'), ('Steph', 'Kuewa', 'steph@kuewa.com')]

# Where clause

In [21]:
# Connect to database
conn = sqlite3.connect('customer.db')

# Create a cursor
c = conn.cursor()
c.execute("SELECT * FROM customers WHERE first_name='Wes'")

print(c.fetchall()) # will fetch the one. the pointer will move down


# Commit our command
conn.commit()

# Close our connection
conn.close()

[('Wes', 'Brown', 'wes@brown.com')]