In [1]:
import re

In [2]:
pattern = "was"

In [3]:
search = "was a   child was"

In [4]:
print(re.findall(pattern, search))

['was', 'was']

# Match

In [5]:
print(re.match("was", search))

<re.Match object; span=(0, 3), match='was'>

# FindAll

In [6]:
print(re.findall("\s", search))

[' ', ' ', ' ', ' ', ' ']

In [7]:
print(re.findall("was", search))

['was', 'was']

In [8]:
# split string

In [9]:
print(re.split("was", search)) # split using this reges

['', ' a   child ', '']

In [10]:
print(re.split("was", search, 1)) #Split using only using the first which matches

['', ' a   child was']

# Replace all empty space with 9 each

In [11]:
txt = "The   rain in Spain"
x = re.sub("\s", "9", txt)

In [12]:
print(x)

The999rain9in9Spain

# Replace furst two instances

In [13]:
txt = "The  rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The99rain in Spain

# Metacharacters

In [14]:
pattern = "[A-Z]yclone"
search = "Pyclone cyclone JDJSyclone"
print(re.findall(pattern, search))

['Pyclone', 'Syclone']

In [15]:
pattern = "[A-Z]+yclone"
search = "Pyclone cyclone JDJSyclone"
print(re.findall(pattern, search))

['Pyclone', 'JDJSyclone']

In [16]:
pattern = "[A-Z]*yclone"
search = "Pyclone cyclone JDJSyclone"
print(re.findall(pattern, search))

['Pyclone', 'yclone', 'JDJSyclone']

In [17]:
pattern = "[A-Z]{2}yclone"
search = "Pyclone cyclone JDJSyclone"
print(re.findall(pattern, search))

['JSyclone']

In [18]:
pattern = r"[A-Z]{2}yclone|[a-z]+yclone"
search = "Pyclone fcyclone JDJSyclone"
print(re.findall(pattern, search))

['fcyclone', 'JSyclone']

In [19]:
pattern = "[ylco]+"
search = "Pyclone fcyclone JDJSyclone"
print(re.findall(pattern, search))

['yclo', 'cyclo', 'yclo']

In [20]:
pattern = "[^ylco]+"
search = "Pyclone fcyclone JDJSyclone"
print(re.findall(pattern, search))

['P', 'ne f', 'ne JDJS', 'ne']

In [21]:
pattern = "\w+"
search = "Pyclone fcyclone JDJS21yclone"
print(re.findall(pattern, search))

['Pyclone', 'fcyclone', 'JDJS21yclone']

In [22]:
pattern = "\d+"
search = "Pyclone fcyclone JDJS21yclone"
print(re.findall(pattern, search))

['21']

In [23]:
pattern = "\s"
search = "Pyclone fcyclone JDJS21yclone"
print(re.findall(pattern, search))

[' ', ' ']

In [24]:
pattern = "\d{2}"
search = "Pyclone fcyclone JDJS2341yclone"
print(re.findall(pattern, search))

['23', '41']

In [25]:
pattern = "[\d]{3}"
search = "Pyclone fcyclone JDJS2341yclone"
print(re.findall(pattern, search))

['234']

# SLICING

In [26]:
b = "Hello, World!"
print(b[2:5]) # 2, 3 and 4

llo

In [27]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

In [28]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[:4])

[1 2 3 4]

In [29]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

In [30]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1::2])

[2 4 6]

# Dictonaries

###### 3.7 onwards, dictoniares are oreded

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [33]:
print(len(thisdict))

3

In [34]:
print(type(thisdict))

<class 'dict'>

In [35]:
a = thisdict.keys()
print(a)

dict_keys(['brand', 'model', 'year'])

In [36]:
values = thisdict.values()
print(values)

dict_values(['Ford', 'Mustang', 1964])

In [37]:
print(thisdict.items())

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [38]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict.keys():
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [39]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [40]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)          # add a color key and value

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [41]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [42]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}


for x in thisdict:
  print(x)

for x in thisdict:
  print(thisdict[x])

In [ ]:
for x, y in thisdict.items():
  print(x, y)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()   # however both of them will point to same dictionary, so changes made in one dict will affect the other as well
print(mydict)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily["child2"]["name"])

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
    print(x)
    
    for y in obj:
        print(y + ':', obj[y])

# Sets

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", False}

print(thisset)
print(type(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")   # Without throwing exception

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena", "a", "b", "c"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

# Pandas

In [45]:
import pandas as pd
import numpy as np

In [46]:
dict1 = {"name": "newtan",
        "surname": "mukherjee",
        "marks": [1,2,3,4]}

In [47]:
df = pd.DataFrame(dict1)

In [48]:
df

     name    surname  marks
0  newtan  mukherjee      1
1  newtan  mukherjee      2
2  newtan  mukherjee      3
3  newtan  mukherjee      4

In [49]:
df.to_csv('newtan.csv')

In [51]:
df.to_csv('newtan.csv', index = False)

In [52]:
df.head(3)

     name    surname  marks
0  newtan  mukherjee      1
1  newtan  mukherjee      2
2  newtan  mukherjee      3

In [53]:
df.tail(2)

     name    surname  marks
2  newtan  mukherjee      3
3  newtan  mukherjee      4

In [55]:
df.describe()  # Numerical columns statistical analysis

          marks
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000